# Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
*.out

.project
.pydevproject
.sconsign.dblite
client
server

